body{
    background-color: white;
}
h1{
    font-size: 5rem;
    font-weight: 700;
    color: black;
    text-align: center;
}
.MainPage-link{
    padding: 2rem;
    background-color: red;
    border-radius: 10px;
}
